:root {
    --bg-color: #000000;
    --fg-color: #cccccc;
    --gray: #3d414c;
    --menu: #111111;
    --section: #171717;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: "Verdana", sans-serif;
    font-size: 12px;
    color: var(--fg-color);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    margin: 0;
    background-color: var(--bg-color);
    background-image: linear-gradient(-45deg,
            var(--menu) 25%,
            transparent 25%,
            transparent 50%,
            var(--menu) 50%,
            var(--menu) 75%,
            transparent 75%,
            transparent);
    background-size: 6px 6px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 80%;
    max-width: 400px;
    height: fit-content;

    border: 4px solid var(--gray);
    border-style: double;
    background-color: var(--menu);

    animation: fadein 0.2s linear;

    display: grid;
    grid-template-areas:
        "line line"
        "contents contents";
}

@keyframes fadein {
    from {
        opacity: 0;
    }
}

.line {
    grid-area: line;
    background: linear-gradient(100deg, #45aaf2, #fc5c65, #fed330);
    height: 1px;
    margin: 1px;
}

.contents {
    grid-area: contents;
}

a {
    color: inherit;
    text-decoration: none;
    width: fit-content;
}

fieldset {
    margin: 20px;
    padding: 4px;
    border: 1px solid var(--gray);
    background-color: var(--section);
}

legend {
    color: var(--fg-color);
    font-weight: bold;

    text-align: left;
    padding: 0 4px;
    margin-left: 6px;

    line-height: 0.2;
}

fieldset p {
    padding-block: 4px;
    margin-inline: 20px;
}

footer {
    padding-inline: 10px;
    padding-bottom: 8px;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4px;
    justify-content: center;
}

.images img {
    width: 40px;
}